.md-footer-meta__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.md-footer-disclaimer {
  flex: 1 1 auto;
  text-align: left; /* Aligns the disclaimer to the left */
  margin: 0.5rem;
  font-size: 0.6rem;
  max-width: 75%; /* Limit width for better spacing */
}

.md-footer-social {
  flex: 0 0 auto;
  margin-left: auto; /* Right-align social icons */
}

.md-footer-social img {
  width: 24px; /* Set specific width for LinkedIn icon */
  height: auto;
}
